Enovacom/schemas/Training CSV UTF-8.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="root">
<xs:complexType>
<xs:sequence maxOccurs="unbounded" minOccurs="0">
<xs:element name="row">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="firstname" type="xs:string"/>
<xs:element minOccurs="0" name="lastname" type="xs:string"/>
<xs:element minOccurs="0" name="id" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
